.container-loginpage-main {
    border:2px solid rgb(231, 207, 207); 
    /* padding: 15px;  */
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    
    margin: 50px;
    background-color: rgb(16, 16, 39);
    color: white;



    /* font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale; */
}

.SingUpBody{
    background-color: rgb(16, 16, 39);
    color: white;
}